body {
	background-color: 		#849d8f;
	font-family: 			Roboto, Arial, sans-serif;
	color:					white;
}
a {
	text-decoration: 	none;
}
img {
	max-width: 			100%;
	height: 			auto;
}
.main-menu  { 
    position: relative; 
}

.main-menu ul {
	margin:				0;
	padding: 			0;
	list-style:			none;
}
.main-menu a {
	display:				block;
/* 	vertical-align:			baseline; */
 	padding:				7px 11px;
	text-decoration:		underline;
	text-decoration-color:	#adbdb4;	
}

.main-menu a,
.main-menu li:first-child {
	font-size: 			16px;
	line-height: 		1.125;
	font-weight: 		700;
	color:				white;
}
.main-menu li:hover,
.user-authorization .user-basket:hover,
.user-authorization .login:hover {
	background-color:	white;
	border-radius:		20px;
}
.main-menu li:hover a,  /*вложенность три.. классы на li? nth-child?*/
.user-authorization .user-basket:hover,
.user-authorization .login:hover {
	color:				black;
	text-decoration:	none;
}
.main-menu li:active {
	box-shadow: 		inset 0 0 5 #696969;
}

.sub-menu a:hover {
	background-color: 	#fbded7;
}
.sub-menu a:active {
	background-color: 	#f6b5a5;
}
.visually-hidden {
	position: 		absolute;
	width:			1px;
	height: 		1px;
	margin:			-1px;
	border: 		0;
	padding: 		0;
	clip: 			rect(0 0 0 0);
	overflow: 		hidden;
}

.sub-menu {
	flex-direction: 	column;
	position: 			absolute;
	top:				37px;
	left:				-10px;
	background-color:	#f8f7f4;
	box-shadow:			0 20px 20px 0 rgba(0,0,0,.4);
	border-radius:		5px;
}
.sub-menu .sub-new {
	font-size:			14px;
	line-height:		1.142;
	font-weight:		700;
}
.sub-menu a {
	font-size:			14px;
	line-height:		1.142;
	font-weight:		400;
}
.sub-menu a {
	display:			block;
	color:				#323232;
 	padding:			8px 21px;
	text-decoration:	none;
}
.sub-new {
	border-bottom:		solid 1px #d1d0ce;
}
.sub-menu a:hover {
	background-color:	#fbded7;
}
.sub-menu a:active {
	background-color:	#f6b5a5;
}
.user-authorization > form {
	position:			absolute;
	top: 				120px;
	left: 				40%;
	width: 				341px;
	height:				84px;
	border-radius:		5px;
	background-color: 	#f8f7f4;
	padding:			20px 15px;
	box-shadow: 		0 20px 20px rgba(0, 0, 0, 0.4);
}
.user-authorization input[type="text"] {
	width: 				311px;
	height: 			44px;
	border: 			1px solid rgba(178, 178, 178, 0.52);
	background-color: 	#ffffff;
	border-radius:		5px;
	padding-left:		15px;
}

.modal {
	position:			absolute;
	background-color:	#f8f7f4;
	box-shadow: 		0 20px 20px rgba(0, 0, 0, 0.4);
	top: 				120px;
	left: 				50%;
	width: 				277px;
	height: 			214px;
	margin-left: 		230px;
	padding: 			20px 18px;	/*в макет не попадаю*/
	border-radius:		5px;
}
.modal-login input[type="email"],
.modal-login input[type="password"] {
	width: 				241px;
	height: 			44px;
	padding: 			10px 15px;
	padding-right:		40px;
	border: 			1px solid #d3d3d2;
	background-color: 	#ffffff;
	border-radius:		5px;	
}
.modal input[type="submit"] {
	min-width: 			100px;
	height: 			44px;
	margin-right:		20px;
	border-radius:		20px;
	box-shadow: 		0 1px 2px #ac1000;
	background-color: 	#e84d37;
	background-image: 	linear-gradient(to top, #e74a35 0%, #f26843 100%);
	color: 				#fefefe;
	font-family: 		Roboto;
	font-size: 			18px;
	font-weight: 		700;
	line-height: 		1.333;
}
.modal a {
	color: 					#323232;
	font-family: 			Roboto;
	font-size: 				13px;
	font-weight: 			400;
	line-height: 			1.846;
	text-decoration:		underline;
	text-decoration-color:	#aeadab;
}

.user-authorization input[type="text"]:hover,
.modal-login input:hover,
.map-modal input[type="text"]:hover,
.map-modal input[type="email"]:hover, 
.map-modal textarea:hover {
	border: 			2px solid rgba(154, 154, 154, 0.52); 
}
.user-authorization input[type="text"]:focus,
.modal-login input:focus,
.map-modal input[type="text"]:focus,
.map-modal input[type="email"]:focus, 
.map-modal textarea:focus {
	border: 			2px solid rgba(46, 136, 228, 0.52);
}
	
.user-block .login {
	margin-right:		10px;
}
.user-block .login,
.user-block .user-basket {
	display:				inline-block;
	vertical-align:			baseline;
 	padding:				7px 11px;
	font-size: 				14px;
	line-height: 			1.142;
	font-weight: 			500;
	background-color: 		#9db1a5;
	border-radius:			20px;
	color:					white;		
}
.user-block .login,
.user-block .user-basket {
	position: 				relative;
	padding-left:			33px;
}
.login::before {
	content: 				"";
	position:				absolute;
	top:			 		5px;
	left:					8px;  
	width:					21px;
	height: 				20px;
	background-image: 		url("../img/entrance.svg");
	background-repeat: 		no-repeat;
	background-position: 	0 0;  
	fill: 					white; /*не работает*/
}

.user-basket::before {
	content: 				"";
	position:				absolute;
	top:			 		5px;
	left:					8px;  
	width:					21px;
	height: 				20px;
	background-image: 		url("../img/basket.svg");
	background-repeat: 		no-repeat;
	background-position: 	0 0;  
}


.user-block p {
	font-size: 		14px;
	line-height: 	1.142;
	font-weight: 	700;
}
.user-block .phone { 
	font-size: 		22px;
	line-height: 	1.09; 
	font-weight: 	700;
}
.breadcrumbs {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.breadcrumbs a,
.breadcrumbs li:last-child {
	font-size: 		14px;
	line-height: 	1.142;
	font-weight: 	400;
	color:			white;
}
.login a {
	background: 	url("../img/entrance.svg") no-repeat;
}
.basket a:first-child { 
	font-size:			14px;
	line-height:		1.142;
	font-weight:		500;
	background: 		url("../img/basket_red.svg") no-repeat;
	background-color:	white;
	color:				#323232;
}
.sel-raspberry p:first-child,
.sel-chocolate p:first-child {
	font-size: 			35px;
	line-height: 		1.171;
	font-weight: 		700;	
}
.sel-raspberry p:nth-child(2),
.sel-chocolate p:nth-child(2) {
	font-size: 			18px;
	line-height: 		1.222;
	font-weight: 		700;
}
.sel-raspberry a,
.sel-chocolate a {
	font-size: 			18px;
	line-height: 		1.222;
	font-weight: 		700;
	background-color:	#f06542;
	color:				white;
}
.price h2 {
	color:				white;
}
.price-goods {
	font-size: 			45px;
	line-height: 		1;
	font-weight: 		700;
	color:				white;
}
.price-goods span {
	font-size: 			30px;
	line-height: 		1.5;
	font-weight: 		700;
	color:				white;
}
.price a {
	background-color:	#e84d37;
	color:				white;
}
.price img {
	border-radius:		50%;
}
.features-block {
	background-color:	#ede3ca;
}
.features-block p:first-child {
	font-size: 			24px;
	line-height: 		1.25;
	font-weight: 		500;
	color:				#323232;
}
.features-block ul {
	margin:				0;
	padding:			0;
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		500;
	color:				#323232;
	list-style:			none;
}
.blog p {
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		500;
	color:				#323232;
}
.blog a {
	font-size: 			24px;
	line-height: 		1.25;
	font-weight: 		700;
	color:				#323232;
	text-decoration: 	underline;
}
.subscribe p {
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		400;
	color:				#5a5a5a;
}
.subscribe button {
	font-size: 			18px;
	line-height: 		1.333;
	font-weight: 		700;
	background-color:	#f06441;
	color:				white;
	border:				0;
}

.map-modal {
	position:			fixed;
	top:				340px;
	left:				35%;
	width: 				478px;
	height: 			443px;
	padding:			20px 24px;
	background-color: 	#f8f7f4;
	border-radius:		10px;
	color:				#323232;
	font-family: 		Roboto;
	font-size: 			24px;
	font-weight: 		500;
	line-height: 		1.166;
}
.map-modal input[type="text"] {
	margin-top:			24px;
}
.map-modal input[type="text"],
.map-modal input[type="email"] {
	margin-bottom:		20px;
	border-radius:		5px;
	width: 				267px;
	height: 			44px;
	border: 			1px solid rgba(178, 178, 178, 0.52);
	padding:			16px 15px;
	background-color: 	#ffffff;
	color: 				#999999;
	font-family:		Roboto;
	font-size: 			16px;
	font-weight: 		400;
	line-height: 		1.5;
}
.map-modal textarea {
	margin-bottom:		25px;
	color: 				#999999;
	font-family:		Roboto;
	font-size: 			16px;
	font-weight: 		400;
	line-height: 		1.5;
	padding:			13px 15px;
	border-radius:		5px;
}
.map-modal input[type="submit"] {
	min-width: 			139px;
	min-height: 		44px;
	box-shadow: 		0 2px 2px rgba(172, 16, 0, 0.64);
	background-color: 	#e84d37;
	color: 				#fefefe;
	background-image: 	linear-gradient(to top, #e74a35 0%, #f26843 100%);
	border-radius:		20px;
	font-family: 		Roboto;
	font-size: 			18px;
	font-weight: 		700;
	line-height: 		1.333;
}
.map-close {
	position: 			absolute;
	top: 				16px;
	right: 				17px;
	width: 				18px;
	height: 			17px;
	font-size: 			0;
	background-color: 	transparent;
	border: 			0;
	cursor: 			pointer;
}
.map-close::before,
.map-close::after {
	content: 			"";
	position: 			absolute;
	top: 				16px;
	left:				0px;
	width: 				18px;
	height: 			2px;
	background-color: 	black;
}
.map-close::before {
	transform: 			rotate(45deg);
}
.map-close::after {
	transform: 			rotate(-45deg);
}

.footer-social ul,
.footer-info ul {
	margin:				0;
	padding:			0;
	list-style:			none;
}
.footer-info a {
	font-size: 			13px;
	line-height: 		1.384;
	font-weight: 		700;
	color:				white;
}
.copyright,
.copyright a {
	font-size: 			12px;
	line-height: 		1.5;
	font-weight: 		400;
	color:				white;
}



	/*  сетки  */

html {
  box-sizing: 		border-box;
}

*, *::before, *::after {
  box-sizing: 		inherit;
}

.main-header {
	display: 		flex;
	align-items: 	center;
}
.container {
	width:	 		1200px;
	margin: 		0 auto;
	padding:		0 27px;
}

.logo {
	width:				160px;
/* 								background-color: rgba(173, 81, 81, 0.3); */
}						/* подсветка временно, если все верно, сразу уберу! */
.main-menu ul {
	display: 			flex;
	justify-content: 	space-around;
/* 								background-color: rgba(173, 115, 81, 0.3); */
}
.user-block {
	width:				270px;
	margin-left:		auto;
/* 								background-color: rgba(173, 145, 81, 0.3); */
} 
.features-block	{
	margin-bottom:		40px;
}
.features-list {
	display:			flex;
	justify-content: 	space-between;
	flex-wrap: 			wrap;
}
.features-list li {
	width: 				49%;
}
.user-blog {
	display:			flex;
	justify-content:	space-between;
	margin-bottom:		40px;
}
.blog {
	width:				560px;
}
.subscribe {
	width:				560px;
}	

.breadcrumbs {
	display:			flex;
}

.price {
	display:			flex;
	flex-wrap:			wrap;
	justify-content: 	space-between;
}
 
.price article {
	width:				267px;
	text-align: 		center;
								background-color: rgba(173, 200, 81, 0.3);
}
.pagination-list {
	display:			flex;
	list-style:			none;
}
	
footer {
	display:			flex;
	margin-top:			10px;
} 
.footer-social ul {
	display:			flex;
	width:				265px;
	margin-right:		130px;
								background-color: rgba(173, 81, 81, 0.3);
}
.footer-social li:not(:last-child) { 
	margin-right: 		10px; 
}
.footer-info ul {
	display:			flex;
	flex-wrap: 			wrap;
	width:				400px;
	margin-right:		150px;
								background-color: rgba(173, 115, 81, 0.3);
}
.info-part li:nth-child(1),
.info-part li:nth-child(3) {
	width:				50%;
}
.info-part li:nth-child(2),
.info-part li:nth-child(4) {
	width:				50%;
}
.footer-logo {
	width:				265px;
								background-color: rgba(173, 145, 81, 0.3);
}

