body {
	background-color: 		#849d8f;
	font-family: 			Roboto, Arial, sans-serif;
	color:					white;
}
a {
	text-decoration: 	none;
}
.main-menu ul {
	margin:				0;
	padding: 			0;
	list-style:			none;
}
.main-menu a,
.main-menu li:first-child {
	font-size: 			16px;
	line-height: 		1.125;
	font-weight: 		700;
	color:				white;	
}
.sub-menu a:hover {
	background-color: 	#fbded7;
}
.sub-menu a:active {
	background-color: 	#f6b5a5;
}
.visually-hidden {
	position: 		absolute;
	width:			1px;
	height: 		1px;
	margin:			-1px;
	border: 		0;
	padding: 		0;
	clip: 			rect(0 0 0 0);
	overflow: 		hidden;
}
.user-block a {
	font-size: 		14px;
	line-height: 	1.142;
	font-weight: 	500;
	color:			white;		
}
.user-block p {
	font-size: 		14px;
	line-height: 	1.142;
	font-weight: 	700;
}
.user-block .phone { 
	font-size: 		22px;
	line-height: 	1.09; 
	font-weight: 	700;
}
.breadcrumbs {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.breadcrumbs a,
.breadcrumbs li:last-child {
	font-size: 		14px;
	line-height: 	1.142;
	font-weight: 	400;
	color:			white;
}
.login a {
	background: 	url("../img/entrance.svg") no-repeat;
}
.basket a:first-child { 
	font-size:			14px;
	line-height:		1.142;
	font-weight:		500;
	background: 		url("../img/basket_red.svg") no-repeat;
	background-color:	white;
	color:				#323232;
}
.sel-raspberry p:first-child,
.sel-chocolate p:first-child {
	font-size: 			35px;
	line-height: 		1.171;
	font-weight: 		700;	
}
.sel-raspberry p:nth-child(2),
.sel-chocolate p:nth-child(2) {
	font-size: 			18px;
	line-height: 		1.222;
	font-weight: 		700;
}
.sel-raspberry a,
.sel-chocolate a {
	font-size: 			18px;
	line-height: 		1.222;
	font-weight: 		700;
	background-color:	#f06542;
	color:				white;
}
.price h2 {
	color:				white;
}
.price-goods {
	font-size: 			45px;
	line-height: 		1;
	font-weight: 		700;
	color:				white;
}
.price-goods span {
	font-size: 			30px;
	line-height: 		1.5;
	font-weight: 		700;
	color:				white;
}
.price a {
	background-color:	#e84d37;
	color:				white;
}
.price img {
	border-radius:		50%;
}
.features-block {
	background-color:	#ede3ca;
}
.features-block p:first-child {
	font-size: 			24px;
	line-height: 		1.25;
	font-weight: 		500;
	color:				#323232;
}
.features-block ul {
	margin:				0;
	padding:			0;
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		500;
	color:				#323232;
	list-style:			none;
}
.blog p {
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		500;
	color:				#323232;
}
.blog a {
	font-size: 			24px;
	line-height: 		1.25;
	font-weight: 		700;
	color:				#323232;
	text-decoration: 	underline;
}
.subscribe p {
	font-size: 			16px;
	line-height: 		1.375;
	font-weight: 		400;
	color:				#5a5a5a;
}
.subscribe button {
	font-size: 			18px;
	line-height: 		1.333;
	font-weight: 		700;
	background-color:	#f06441;
	color:				white;
	border:				0;
}
.footer-social ul,
.footer-info ul {
	margin:				0;
	padding:			0;
	list-style:			none;
}
.footer-info a {
	font-size: 			13px;
	line-height: 		1.384;
	font-weight: 		700;
	color:				white;
}
.copyright,
.copyright a {
	font-size: 			12px;
	line-height: 		1.5;
	font-weight: 		400;
	color:				white;
}



	/*  сетки  */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.main-header {
	display: 		flex;
}
.container {
	width:	 		1200px;
	margin: 		0 auto;
	padding:		0 27px;
}

.logo {
	width:				160px;
								background-color: rgba(173, 81, 81, 0.3);
}						/* подсветка временно, если все верно, сразу уберу! */
.main-menu {
	width:				400px;
								background-color: rgba(173, 115, 81, 0.3);
}


.user-block {
	width:				270px;
	margin-left:		auto;
								background-color: rgba(173, 145, 81, 0.3);
} 
.features-block	{
	display:			flex;
	margin-bottom:		40px;
}	

.user-blog {
	display:			flex;
	justify-content:	space-between;
	margin-bottom:		40px;
}
.blog {
	width:				560px;
}
.subscribe {
	width:				560px;
}	

.breadcrumbs {
	display:			flex;
}

.price {
	display:			flex;
	flex-wrap:			wrap;
	justify-content: 	space-between;
}
 
.price article {
	width:				267px;
	text-align: 		center;
								background-color: rgba(173, 200, 81, 0.3);
}								
	
footer {
	display:			flex;
	margin-top:			10px;
}
 
.footer-social {
	width:				265px;
	margin-right:		130px;
								background-color: rgba(173, 81, 81, 0.3);
}
.footer-info {
	width:				400px;
	margin-right:		150px;
								background-color: rgba(173, 115, 81, 0.3);
}
.footer-logo {
	width:				265px;
								background-color: rgba(173, 145, 81, 0.3);
}

